body{
  background:url('http://img.zcool.cn/community/01ebcc56cf100e6ac7252ce6bd48b0.jpg') no-repeat;
  background-size:cover;
  background-position:center center ;
}

h1{
  text-align:center;
  font-size:46px;
  font-weight:bolder;
}

