body{
  background:url('http://attach.bbs.miui.com/forum/201611/29/214557bagvz78gavdzd9p5.jpg') no-repeat;
  background-size:cover;
  background-position:center center ;
}

h1{
  text-align:center;
  font-size:66px;
  font-weight:bolder;
}

