body{
  background:url('http://img.zcool.cn/community/01ab3e584ae595a801219c77cacf51.jpg') no-repeat;
  background-size:cover;
  background-position:center center ;
}

h1{
  text-align:center;
  font-size:66px;
  font-weight:bolder;
}

